<div class="post-title">About me</div>

<p>My name is Karolina Zdziarska. I am a beginner developer, who started programming in April 2018. This website is my test project, where I learn and test web technologies (ASP.NET, css, HTML).</p>
<p>All of the pictures posted here come from website called <a target="_blank" rel="noopener noreferrer" href="https://www.pexels.com/search/cat/">PEXELS</a>, which allowes to download and use their pictures for free.</p>
