<div class="post-title">Contact information</div>

<address>
    Karolina Zdziarska<br />
    3C Hazelbury Crescent<br />
    LU1 1DF Luton, Bedfordshire<br />
    Phone: 07412 508 031<br />
</address>

<address>
    <strong>Linkedin:</strong>   <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/karolina-zdziarska-b69030153/">https://www.linkedin.com/in/karolina-zdziarska-b69030153/</a><br />
    <strong>GitHub:</strong> <a target="_blank" rel="noopener noreferrer" href="https://github.com/aprilxblack">https://github.com/aprilxblack</a>
</address>