@{
    ViewBag.Title = "Home Page";
}


<br />
<br />
<center>
    <img class="image" src="http://placekitten.com/200/300" />
    <img class="image" src="http://placekitten.com/200/300" />
    <img class="image" src="http://placekitten.com/200/300" />
</center>
<br />
<br />
<div class="post-title">
    April Black's pictures
</div>
<br />
<div class="text-message"><p>Welcome to my website, where you can browse, view, comment and rate my pictures of cats. Check out the gallery for more details.  </p></div>
        

